#locations-div {
    background-color: #ffe9fe;
    margin: 32px;
    border-radius: 10px;
}

#locations-title {
    margin-left: 16px;
}

.location {
    height: 25px;
    border: black 1px solid;
    border-radius: 10px;
    padding: 16px;
    margin: 16px;
    font-size: 21px;
}

#locations-list {
    list-style-type: none;
    margin: 0;
    margin-block-start: 0;
    margin-inline-start: 0;
    padding-inline-start: 0;
}

#add-remove-buttons {
    display: flex
    ;
        align-items: center;
        justify-content: center;
        margin-top: 32px;}

