body {
    margin: 0px;
}

header {
    justify-content: center;
    display: grid;
    background-color: #ff68f626;
    /* border-bottom: #ff68f6 1px solid; */
    border-radius: 0px 0px 10px 10px;
}

main {
    justify-content: center;
    display: grid;
}

footer {
    justify-content: center;
    display: grid;
    background-color: #ff68f626;
    border-radius: 10px 10px 0px 0px;
    min-height: 5vh;
}

#footer-info {
    height: 75px;
    display: grid
;
    justify-content: center;
    text-align: center;
    margin: 10px;
    align-content: center;
}