#piggy-image {
    width: 200px;
    margin: 25px;
    justify-self: center;
}

#form {
    display: grid;
    align-content: space-evenly;
    height: 200px;
}

#email-input {
    height: 25px;
    font-size: 16px;
    width: 100%;
}

#password-input {
    height: 25px;
    font-size: 16px;
    width: 100%;
}

span {
    margin-top: 5px;
    margin-bottom: 5px;
}

#login-screen {
    display: grid
    ;
        justify-content: center;
        align-content: center;
}